@charset "UTF-8";

.container-fluid{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	
}
.row{
	
	margin-right:-15px;
	margin-left:-15px;
}
.col-sm-3{
	
	position:relative;
	min-height:1px;
	padding-right:0vw;
	padding-left:8vw;
	margin-left:0vw;
	float:left;
	width:16vw;
}

#logo{
	background-image: url("paper.gif");
}
header {
	font-family: "trebuchet ms", sans-serif;
	font-size: 90%;
	background-color: #a6c7ff;
	
} 

body{
	background-color: #a6c7ff;
}
